{{ template "chart.header" . }}
{{ template "chart.description" . }}

> [!IMPORTANT]
> Only configured for Traefik-Ingress, since **IngressRoute** is being used.

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}